.navbar {
    /* position: fixed; */
    /* top: 0;
    left: 0;
    right: 0; */
    height: 4em;
    /* background-color: #0d121c; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.navbar-anchor {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

.footer {
    position: inherit;
    bottom: 0;
    width: 100%;
}

.app1x2-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.item1 {
    width: 100%;
    grid-column: 1 / 2;
}

.item2 {
    width: 100%;
    grid-column: 2 / 3;
}